body{
    background-image: url("https://i.pinimg.com/originals/e5/70/c5/e570c56c1a2e5e64ae257f34215c2922.jpg");
    background-repeat: no-repeat;
    margin-top: 100px;
    align-content: center;
    justify-content: center;
    background-size: 100%;
}